*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.thankyou-section {
    text-align: center;
    padding: 40px 0;
    background: #ededed;
    padding: 90px 0px 160px;
  }
  .thankyou-heading{
    font-weight: 500;
    margin-left: 10px;
    padding-top: 20px;
    font-size: 20px;
    color: #000;
  }
  .thankyou-dec{
    color: #737373;
  }
  .thankyou-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
    width: 400px;
  }
.continue-btn{
    width: 120px;
    padding: 8px;
    border-radius: 20px;
    margin: 11px;
    margin-bottom: 20px;
    border: none;
    background-color: #005DA2;
    color: #fff;
}


/* Responsive css Start */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/* For mobile phones: */
  [className*="col-"] {
    width: 100%;
  }
    .thankyou-box{
        width: 96%;
    }
    
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    [className*="col-"] {
        width: 100%;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
