*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	
}
span {
    color: #000;
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
    /* cursor: pointer; */
}
/* .md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
} */
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
/* .md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#e70000;
    color: #FFFFFF;
} */
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#DDDDDD;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal .md-step .md-step-circle-1 {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#00AE4D;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#4BB836;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
/* .md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
} */
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
/* .md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
} */
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:5px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-left-1,
.md-stepper-horizontal .md-step .md-step-bar-right-1 {
	position:absolute;
	top:36px;
	height:1px;
	border-top:5px solid #4BB836;
}
.md-stepper-horizontal .md-step .md-step-bar-right-1 {
	right:0;
	left:50%;
	margin-left:15px;
}
.md-stepper-horizontal .md-step .md-step-bar-left-1 {
	left:0;
	right:50%;
	margin-right:15px;
}

.select-section{
    background-color: #ededed;
    padding-bottom: 80px;
    /* height: 100vh; */
}
.account-details-bg{
    background-color: white;
    box-shadow: -1px -1px 6px 0px #eaeae8;
    border-radius: 8px;
    border-width: 5px;
    padding: 10px;
}

.details-box{
  border: 1px solid #EBEBEB;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.account-title{
  background-color: #F5F5F5;
  color: #000000;
  padding: 15px 15px;
  font-weight: 600;
  font-size: 15px;
}
.input-box-1{
  padding-bottom: 13px;
}
.type-here{
  margin-left: 10px;
  width: 97.5%;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 6px;
  outline: none;
}
.input-box-2{
  padding-bottom: 13px;
}
.type-here-1{
  margin-left: 10px;
  width: 95%;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 6px;
  outline: none;
}








.total-amount-box {
  background-color: white;
  box-shadow: -1px -1px 6px 0px #eaeae8;
  border-radius: 8px;
  border-width: 5px;
  /* margin-left: 10px;
  margin-right: 10px; */
  padding: 10px;
}
.product-total{
  font-size: 12px;
}
.total{
  display: flex;
  line-height: 30px;
  padding-top: 10px;
}
.total-amount{
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding-left: 120px;
}
.link-total-amount{
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding-left: 90px;
}
.final-amount{
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding-left: 157px;
}
.checkout-top{
  width: 100%;
  height: 50px;
  border-radius: 35px;
  border: none;
  color: #005DA2;
  background-color: #ffff;
  border: 1px solid #005DA2;
}
.checkout-top:hover{
  background-color: #005DA2;
  color: #ffff;
}
.back-top:hover{
  background-color: #005DA2;
  color: #ffff;
}
.back-top{
  width: 100%;
  height: 50px;
  border-radius: 35px;
  border: none;
  color: #005DA2;
  background-color: #ffff;
  border: 1px solid #005DA2;
}
.file-size{
  color: #A8A8A8;
  padding-left: 10px;
  font-size: 12px;
}
.proof-section{
  display: flex;
  margin-top: -45px;
}
.upload{
  float: right;
  width: 100px;
  padding: 5px;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
  background-color: #005DA2;
  color: #fff;
}






/* Responsive css Start */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .md-stepper-horizontal{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
